*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: rgb(225, 221, 221);
}



/* main-conatiner */
/* .main-container{
   
} */

/* Heading */
.news-heading{
    /* border: 1px solid black; */
    height: 15vh;
font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-bottom: 1px solid rgb(133, 132, 132); */
  border-bottom: 3px solid brown;
  text-shadow: 2px 2px 4px rgba(91, 8, 8, 0.5);
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}


.logo{
width: 90px;
height: 80px;
border-radius: 50%;
padding-left: 10px;
}


/* Category container */
.category-container{
    height: 10vh;
    display: flex;
    padding: 0px 30px;
    align-items: center;
    justify-content: space-between;
    font-size: 1.7rem;
    font-weight: 550;
    /* border-bottom: 1px solid rgb(181, 21, 21); */
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(91, 8, 8, 0.5);
}

.cat:hover{
border-bottom: 2px solid brown;
}

.sub{
    background-color: brown;
    padding: 10px;
    border-radius: 5px;
    border-bottom:none;
    cursor: pointer;
}

.sub:hover{
    color: rgb(215, 199, 199);
}

.sub:active{
    color: black;
}


input{
    outline: none;
    height:30px;
    width: 250px;
    border-radius: 5px;
    font-size: 1.2rem;
    padding-left: 5px;
}

/* textarea:focus, input:focus{
    outline: none;
} */

/* .form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  } */

.news-container{
    /* border: 1px solid blue; */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 45px 10px;
    align-items:center;
justify-content:space-around;
/* margin: 15px 0px; */
box-shadow: rgba(150, 7, 7, 0.35) 0px 5px 15px;
/* transition: transform 0.3s ease; */
}


/* .news-container:hover{
    transform: translateY(-10px);
} */

.box-style{
    /* border: 1px solid black; */
    width: 300px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
transition: transform 0.3s ease;
border-radius: 5px;

}

.box-style:hover{
    transform: translateY(-10px);
}

.news-img{
    width: 300px;
    height: 260px;
border-radius: 5px
}

.title-style{
    text-align: left;
    margin:5px 0px;
    height: 60px;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.7rem;
  /* border: 1px solid blue; */
  text-wrap: wrap;
  padding: 0px 5px;
}

.style-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px 5px;
    height: 15px;
    /* border: 1px solid red; */
    padding: 0px 5px;
}

.dateStyle{
    font-weight: bold;
    font-size: small;
}

.see-style{
    color: brown;
    font-weight: bold;
}